#CrudDefinition,#CrudDefinition1{
    font-size: 20px;
    text-align: justify;
    font-weight: 200;
    color: rgb(10, 9, 10);
    font-family: cursive;
    font-size: 18px;
}
#crudTitle,#crudTitle1{
    font-family: 'Alegreya SC','Arbutus';
    font-size: 23px;
    background-color: rgb(13, 226, 191);
    text-align: left;
    justify-content: left;
}
#homeWelcome{
    background-color: rgb(39, 223, 146);
}
#col1,#col3{
    background-image: url("Bg4.jpg");   
    background-position:relative ; 
    background-repeat: no-repeat;
    background-size: initial;
}